.p-dialog {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background: #fff;
    font-family: Arial, sans-serif;
}

.p-dialog-header {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
}

.p-dialog-title {
    font-size: 18px;
    font-weight: bold;
}

.p-dialog-header-icon {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    transition: background 0.3s;
}

.p-dialog-header-icon:hover {
    background: rgba(0, 0, 0, 0.1);
}

.p-dialog-content {
    padding: 16px;
}

.p-field {
    margin-bottom: 16px;
}

.p-field label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 8px;
}

.p-inputnumber {
    width: 100%;
}

.p-inputnumber-input {
    border-radius: 4px;
    border: 1px solid #ced4da;
    padding: 8px;
    font-size: 14px;
}

.p-dropdown {
    position: relative;
    width: 160px;
}

.p-dropdown-label {
    display: block;
    font-size: 14px;
    color: #333;
    border-radius: 4px;
    border: 1px solid #ced4da;
    padding: 8px;
    background: #fff;
    cursor: pointer;
}

.p-dropdown-trigger {
    position: absolute;
    top: 50%;
    right: -8px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.p-dialog-footer {
    background: #f8f9fa;
    border-top: 1px solid #e5e5e5;
    padding: 16px;
    display: flex;
    justify-content: flex-end;
}

.p-button {
    border-radius: 4px;
    font-size: 14px;
    margin-left: 8px;
    padding: 8px 16px;
    transition: background 0.3s;
}

.p-button-text {
    background: none;
    color: #0b5ed7;
}

.p-button-text:hover {
    color: darkblue;
}


.p-button-icon-left {
    margin-right: 8px;
}

.p-dialog-content {
    padding: 20px;
    background: #f8f9fa;
    color: #333;
    font-size: 16px;
    line-height: 1.6;
    border-radius: 8px;
}

.p-dialog-content h5 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 600;
    color: #495057;
}

.p-dialog-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.p-dialog-content li {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

.p-dialog-content p {
    display: table-row;
    font-weight: bolder;
    margin: 0;
}

.p-dialog-content p span {
    display: table-cell;
    padding: 10px;
    border-bottom: 1px solid #e9ecef;
    background: #ffffff;
    border-radius: 4px;
}

.p-dialog-content p span:first-child {
    font-weight: 600;
    color: #495057;
    width: 30%;
}

.p-dialog-content p span:last-child {
    font-weight: 400;
    color: #495057;
    width: 70%;
}

@media (max-width: 600px) {
    .p-dialog-content p span {
        display: block;
        width: auto;
    }
}
