.layout-footer {
    //transition: margin-left $transitionDuration;
    //display: flex;
    //align-items: center;
    //justify-content: center;
    //padding-top: 1rem;
    //border-top: 1px solid var(--surface-border);
    background-color: #2492C4;
    color: white;

    .left-column {
        width: 20%;
        float: left;
        padding: 10px;
    }

    .right-column {
        width: 80%;
        float: left;
        padding: 10px;
    }
    .ul{
        display: flex;
    }
    .intro{
        display: flex;
    }
}

