.h1 {
    text-align: center;
    color: grey;
    .h2 {
        color: black;
        font-weight: bold;
        font-size: 24px;
        text-decoration: underline;
        text-decoration-color: #D38301;
    }
    .left-column {
        width: 60%;
        float: left;
        padding: 10px;
        color: black;
        text-align: justify;
    }

    .right-column {
        width: 40%;
        float: left;
        padding: 10px;
    }
}

